html, body {
    height: 100%;
}

body {
    margin: 0px;
    /*width: 1280px;*/
    /*height: 806px;*/
    background: rgba(234, 227, 219, 1);
}

.wrapper {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    box-sizing: border-box;
}
.container {
    position: absolute;
    width: 1280px;
    height: 120px;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
}

.nav-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    width: 1100px;
    height: 73.2px;
    top: 24px;
    left: 90px;

    font-family: FreightSansProMedium-Regular;
    font-style: normal;
    font-weight: 500;
    font-size: 11px;
    line-height: 120%;
    letter-spacing: 0.4em;
    color: #3C271D;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline;
}

a {
    text-decoration: none;
    color: #3C271D;
}

.left-side {
    float: left;
}

.logo {
    float: center;
}

.right-side {
    float: right;
}

.follow-slider{
    width: 1280px;
    min-height: 397px;
}

.header-slider {
    width: 100%;
    /*max-width: 1100px;*/
    margin: 0 auto;
    height: inherit;
    background: #FFFCF9;
    /*width: 1280px;*/
    height: 397px;
}

p {
    text-align: center;
    color: #161614;
    padding: 80px 0 51px 0;
    font-family: FreightBigProMedium-Regular;
    font-size: 14px;
    /*line-height: 16.8px;*/
    letter-spacing: 0.3em;
    text-transform: uppercase;
}

.slide-images {
    display: flex;
    justify-content: space-between;
    background: #FFFCF9;
}

.social-navigation {
    background: #F8F4F0;
    min-height: 315px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-addresse {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 151px;
    justify-content: space-between;
}

.addresse {
    padding: 14px 0 35px 0;
    font-family: FreightSansProBook-Regular;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    color: #161614;
    font-style: normal;
    font-weight: normal;
}

.social-icons {
    display: flex;
    justify-content: space-around;
    min-width: 105px;
}

.footer-nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 130px;
    font-size: 11px;
}

.copyright {
    min-height: 94px;
    background: #FFFCF9;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    font-size: 11px;
    letter-spacing: 0.4em;
    text-transform: uppercase;
    color: #3C271D;
}